<div class="container">
  <h2>Listado de asignaturas</h2>

  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Horas</th>
        <th>Detalle</th>
      </tr>
    </thead>

    <tbody>
      @for (asignatura of asignaturas; track $index) {
        <tr>
          <td>{{ asignatura.id }}</td>
          <td>{{ asignatura.nombre }}</td>
          <td>{{ asignatura.horas }}</td>
          <td>
            <a [routerLink]="['/asignatura', asignatura.id]" class="btn">Ver</a>
            <a [routerLink]="['/tabla-alumnos', asignatura.id]" class="btn">Alumno</a>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">
            No hay asignaturas para mostrar.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>